<div style="width:360px;margin:0 auto;font-size:25px">
	<ul>
	  <li><a href="#"><i class="fa fa-cog fa-3" aria-hidden="true"></i></a></li>
	  <li><a href="#"><i class="fa fa-sliders fa-3" aria-hidden="true"> </i></a></li>
	  <li><a href="#"><i class="fa fa-btc fa-3" aria-hidden="true"></i> </a></li>
	  <li><a href="#"><i class="fa fa-github-square fa-3" aria-hidden="true"> </i></a></li>
	</ul>
</div>