<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>Christopher</h1>
            <p>Something witty goes here</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Github Repo</h3>
            <p><a href='https://github.com/mckaycr/sonicdipstick' target='blank'>https://github.com/mckaycr/sonicdipstick</a></p>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>