<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main class="wrapper">
  <div class="row">
  	<div class="col" style="margin-top:5px; margin-bottom:50px;"><h2>Settings</h2></div>
	</div>
    <form method="post">
			<div class="form-group row">
				<label for="device_name" class="col-sm-2 col-form-label">Device Name</label>
				<div class="col-sm-10">				
					<input class='form-control' value="<%= device_name %>" name='device_name' type='text'>
				</div>
			</div>
			<div class="form-group row">
				<label for="tank_capcity" class="col-sm-2 col-form-label">Tank Capacity (gallons)</label>
				<div class="col-sm-10">
					<input class='form-control' value="<%= tank_cap %>" name='tank_capcity' type='text'>
				</div>
			</div>
			<div class="form-group row">
				<label for="tank_height" class="col-sm-2 col-form-label">Tank height (inches)</label>
				<div class="col-sm-10">
					<input class='form-control' value="<%= tank_height %>" name='tank_height' type='text'>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="DisplayUnit">Display Oil Level as</label>
				<div class="col-sm-10">
					<select class="form-control" id="DisplayUnit" name="DisplayUnit">
						<option value="0">Percentage</option>
						<option value="1">Gallons</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<button type="submit" class="btn btn-secondary">Save</button>
			</div>
		</form>
		<script language="JavaScript">
				document.getElementById('DisplayUnit').selectedIndex = <%= unit_display %>
		</script>
    <div class="push"></div>
</main>
<footer class="footer" style="border-top: 1px solid #2B333A;">
	<div class="row">
        <div class="col"><% include ../partials/footer %></div>
    </div>
</footer>

</body>
</html>